@use "../../assets/scss/variables" as *;
@use "../../assets/scss/font" as *;
@use "../../assets/scss/mixin" as *;

#cta {
  margin: 0 auto;
  width: 100%;
  min-height: 50vh;
  @include flex-layout(column, center, center, 0);
  .cta-bg {
    @include flex-layout(column, center, center, 3rem);
    background: var(--color-main);
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 3rem;
    color: var(--text-white);
    .cta-title {
      @include flex-layout(column, center, center, 1.5rem);
      h1 {
        @include font-h2;
      }
    }
    .cta-btn {
      @include flex-layout(row, center, center, 1rem);
    }
    .cta-bottom-txt {
      @include flex-layout(column, center, center, 1rem);
    }
  }
}
